@model IEnumerable<stitalizator01.Models.Program>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsBet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChannelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TvDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgDescr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgCat)
        </th>
        @*
        <th>
            @Html.DisplayNameFor(model => model.ShareStiPlus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShareStiMob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShareSti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShareMos18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShareRus18)
        </th>
         *@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
        @using (Html.BeginForm("UpdateBet", "Programs", new { id = item.ProgramID}))
            {
            @Html.AntiForgeryToken()
            @Html.CheckBoxFor(modelItem => item.IsBet, new { onclick = "this.form.submit();" })
            @* <input type="submit" value="Update" />*@
        }
            @*
            <form method="post" action="Programs/UpdateBet">
                @Html.AntiForgeryToken()
                Html.CheckBoxFor(modelItem => item.IsBet, new { @Value = item.IsBet })
                @Html.CheckBoxFor(modelItem => item.IsBet)
                <input type="submit" value="Update" />
            </form>
    *@
            @*Html.EditorFor(modelItem => item.IsBet)
            @Html.CheckBoxFor(modelItem => item.IsBet, new { id=item.ProgramID, @class = "toggle", data_url = Url.Action("Edit", "Programs")})*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TvDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgDescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgCat)
        </td>
        @*
    <td>
        @Html.DisplayFor(modelItem => item.ShareStiPlus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShareStiMob)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShareSti)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShareMos18)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShareRus18)
    </td>
        *@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProgramID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProgramID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProgramID })
        </td>
    </tr>
}

</table>


@section scripts {
    <script>
        $(function () {
            $('.toggle').change(function () {
                var self = $(this);
                var url = self.data('url');
                var isBet = self.attr('IsBet');
                var value = self.prop('checked');

                $.ajax({
                    url: url,
                    data: { ProgramID: ProgramID,
                        IsBet: IsBet
                    },
                    type: 'POST',
                    success: function (response) {
                        alert(response);
                    }
                });
            });
        });
    </script>
}