@model stitalizator01.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    string telegramUserName = ViewBag.telegramUserName;
    string telegramChatId= ViewBag.ChatId.ToString();
    string userEmail = ViewBag.userEmail;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Изменить пароль", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Имя пользователя:</dt>
        <dd>
            @User.Identity.Name            
            [
            <a href="#" id="userNameChangeP" data-username="@User.Identity.Name">Изменить</a>
            ]
        </dd>
        <dt>Email:</dt>
        <dd>
            @userEmail 
            [
            <a href="#" id="emailChangeP" data-username="@User.Identity.Name">Изменить</a>
            ]
        </dd>
        <dt>Telegram username:</dt>
        <dd>
            @telegramUserName
            [
            <a href="#" id="telegramChangeP" data-username="@User.Identity.Name">Изменить</a>
            ]
        </dd>
        <dt>Telegram ChatId:</dt>
        <dd>
            @telegramChatId            
        </dd>
        @*
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
            *@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        
        @*
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            *@
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
       @* </dd>*@
        
    </dl>
</div>

<script>
    $("#emailChangeP").click(function () {
        curObj = event.target;        
        var userName = curObj.getAttribute("data-username");
        var newEmail = prompt("Введите новый email для пользователя " + userName, "");
        if (newEmail.indexOf('@@', 0) > 0) {
            $.ajax({
                type: 'GET',
                cache: false,
                data: {
                    userName: userName,
                    newEmail: newEmail
                },
                url: '/UserView/ChangeEmail',
                success: function (data) {
                    location.reload();
                    console.log("Новый почтовый адрес пользователя " + userName + ": " + newEmail);
                }
            });
        } else {
            console.log("You pressed Cancel!");
        }
    });
    $("#telegramChangeP").click(function () {
        curObj = event.target;
        var userName = curObj.getAttribute("data-username");
        var newTelegramUserName = prompt("Введите новое имя пользователя в Telegram ", "");        
            $.ajax({
                type: 'GET',
                cache: false,
                data: {
                    userName: userName,
                    newTelegramUserName: newTelegramUserName
                },
                url: '/UserView/ChangeTelegram',
                success: function (data) {
                    location.reload();
                    console.log("Новое имя в Telegram " + userName + ": " + newEmail);
                }
            });        
    });
    $("#userNameChangeP").click(function () {
        curObj = event.target;
        var userName = curObj.getAttribute("data-username");
        var newUserName = prompt("Введите новое имя пользователя вместо " + userName, "");
        
            $.ajax({
                type: 'GET',
                cache: false,
                data: {
                    userName: userName,
                    newUserName: newUserName
                },
                url: '/UserView/ChangeUserName',
                success: function (data) {
                    location.reload();
                    console.log("Новое имя пользователя " + userName);
                }
            });
        
    });
</script>