<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ститализатор</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ститализатор", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Ставки", "MyBets", "Bets")</li>
@if (this.User.IsInRole("Admin"))
{
                    <li>@Html.ActionLink("Расписание", "Index", "Programs")</li>
                    <li>@Html.ActionLink("Периоды", "Index", "Periods")</li>
                    <li>@Html.ActionLink("Каналы", "Index", "Channels")</li>                    
                    <li>@Html.ActionLink("Пользователи", "Index", "UserView")</li>
                    <li>@Html.ActionLink("Роли", "Index", "Role")</li>
                    @*<li><a id="mailLi" onclick="mailClick(event)">"MailTest"</a></li>*@
}
                    @if (this.User.Identity.Name == "user8"| this.User.Identity.Name == "Толя" | this.User.Identity.Name == "Виктория")
                    {
                        <li>
                            @using (Html.BeginForm("advSearch", "CatalogueEntries", FormMethod.Post, new { target = "_blank" }))
                            {
                                @Html.TextBox("Title", "Поиск", new { onclick = "Clear();" });
                            }
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" id="body-content">
        <div id="overlayDiv">
        </div>
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ститализатор</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function mailClick(event)
        {
            console.log("here");
            $.ajax({
                url: 'Bets/Contact',
                type: 'POST',
                data: { 
                    
                },
                success: function (msg) {
                    console.log(msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest.responseText);
                }
            });
        }
        function Clear() {
            document.getElementById("Title").value = "";
        }

    </script>

</body>



</html>
