@{
    ViewBag.Title = "Dashboard";
}
@*
<div id="indexLogoDiv" class="jumbotron">
</div>
*@
@Html.Action("WhiteBoardHomepage","Bets")

<div class="row">
    <div class="col-md-4">    
        <h2>Актуальные ставки</h2>            
        @Html.Action("HomePageBets","Bets")
    </div>
    <div class="col-md-4">
        <h2>Результаты</h2>
        @Html.Action("HomePageLeaderboard", "Periods", new { metaPeriod = false })
        @Html.Action("HomePageLeaderboard", "Periods", new { metaPeriod = true })
    </div>
    <div class="col-md-4">
        <h2>Статистика</h2>
        @Html.Action("HomePageStats", "Periods", new { metaPeriod = false })
        @Html.Action("HomePageStats", "Periods", new { metaPeriod = true })
    </div>
</div>

