@model IEnumerable<stitalizator01.Models.Channel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChannelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChannelTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChannelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDefault)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDefault)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChannelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChannelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChannelID })
        </td>
    </tr>
}

</table>
