@model stitalizator01.Models.Bet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreOLS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreOLS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreClassic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreClassic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttemptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttemptNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHorse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHorse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BetRus18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BetRus18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BetMos18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BetMos18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BetSTImob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BetSTImob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BetSTI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BetSTI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BetSTIplus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BetSTIplus)
        </dd>
        @*
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
            *@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
