@model IEnumerable<stitalizator01.Models.Bet>
@{
    DateTime curDate = Model.First().Program.TvDate;
    bool newDay = true;
    var culture = new System.Globalization.CultureInfo("ru-RU");
    var day = culture.DateTimeFormat.GetDayName(curDate.Date.DayOfWeek);
    
}

<ul id="homePageBetsList" class="list-group">
    @foreach (stitalizator01.Models.Bet bet in Model)
    {
        string tempBet = bet.BetSTIplus.ToString().Replace(",", ".");
        if (tempBet=="0") { tempBet = ""; }
        string strdatetime = bet.Program.TimeEnd.HasValue ? bet.Program.TimeEnd.Value.ToString("HH:mm") : string.Empty;
        if (bet != Model.First())
        {
            if (bet.Program.TvDate == curDate)
            {
                newDay = false;
            }
            else
            {
                newDay = true;
                curDate = bet.Program.TvDate;
            }
        }

        if (newDay)
        {
            day = culture.DateTimeFormat.GetDayName(bet.Program.TvDate.Date.DayOfWeek);
                <li class="list-group-item active">
                    <h3>@bet.Program.TvDate.ToString("dd.MM.yyyy"), @day</h3>
                </li>
        }

    <li class="list-group-item">        
        <div id="horseContainer_@bet.BetID">
            @if (bet.Program.IsHorse)
            {
                <img src="~/Content/Img/horseIcon.png" style="width:30px;height:30px" />
            }
        </div>
        <label>@bet.Program.ProgTitle (@bet.Program.TimeStart.ToString("HH:mm")-@strdatetime)<br /><i>@bet.Program.ChannelCode</i></label>
        
        <div class="input-group">            
            <input class="input-lg" id="@bet.BetID" type="number" min="0" max="100" value="@tempBet" step="0.5" onchange="updateBetHomePage(@bet.BetID)"/>
            @if (bet.BetSTIplus > 0)
            {
                <span onclick="updateBetHomePage(@bet.BetID)" >
                    <a id="a_@bet.BetID" href="" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-pencil"></span> Изменить
                    </a>
                </span>
            }
            else
            {
                <span onclick="updateBetHomePage(@bet.BetID)">
                    <a id="a_@bet.BetID" href="" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-question-sign"></span>@* Поставить*@
                    </a>
                </span>
            }

        </div>
</li>
    }
</ul>

<script>
    function decimalSubstitution(event, betID){
        var curBet = document.getElementById(betID);
        var curButton = document.getElementById("a_" + betID);
        var keyCode = event.which || event.keyCode;
        if (keyCode == "188") {
            event.preventDefault();
            console.log(curBet.tex); 
        }
    }

    function updateBetHomePage(betID) {
        var curBet = document.getElementById(betID);
        var curButton = document.getElementById("a_"+betID);
        console.log("curBet.value: "+curBet.value);                
        $.ajax({
            url: 'Bets/HomePageBets',
            type: 'POST',
            data: { 
                betId: betID,
                BetSTIplus: curBet.value 
                },
            success: function (msg) {
                if (curBet.value>0)
                {
                    console.log("IsHorseNow: " + msg);
                    curButton.classList = "btn btn-success btn-lg";
                    curButton.innerHTML = "<span class=\"glyphicon glyphicon-ok-circle\"></span> Принято!";
                    
                    setTimeout(function () {
                        curButton.classList = "btn btn-info btn-lg";
                        curButton.innerHTML = "<span class=\"glyphicon glyphicon-pencil\"></span> Изменить";
                    }, 3000);
                    var hc = document.getElementById("horseContainer_"+betID);
                    if (msg=="True")
                    {                        
                        hc.innerHTML = "<img src=\"Content/Img/horseIcon.png\" style=\"width:40px;height:40px\" />";
                    }
                    else
                    {
                        hc.innerHTML = "";
                    }
                }
                else
                {
                    console.log("IsHorseNow: " + msg);
                    curButton.classList = "btn btn-danger btn-lg";
                    curButton.innerHTML = "<span class=\"glyphicon glyphicon-question-sign\"></span>@* Поставить*@";
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            }
        });
    }
</script>