@model stitalizator01.Models.Period

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Period</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PeriodDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodDescription)
        </dd>
        

        <dt>
            @Html.DisplayNameFor(model => model.IsMetaPeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMetaPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BegDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BegDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PeriodID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
