@{
    string periodDescription = ViewBag.periodDescr;
    string periodId = ViewBag.periodId.ToString();
    bool first = ViewBag.first;
    bool last = ViewBag.last;
    var culture = new System.Globalization.CultureInfo("ru-RU");
}

<ul id="stat_@periodId" class="list-group">
            <li class="list-group-item active">
                @if (!first)
                {
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                }
                @periodDescription
                @if (!last)
                {
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                }
            </li>
            <li class="list-group-item">
                @ViewBag.Score / @ViewBag.totalScore = @ViewBag.percentage
            </li>
</ul>


    @*
        <dl id="@periodId">
        @{
            int i = 0;
            float prevScore = 0;
            foreach (stitalizator01.LeaderboardEntry entry in Model)
            {
                if (entry.Score != prevScore)
                {
                    i++;
                    <dt>
                        @i Место
                    </dt>
                }
                else
                {
                    <dt>
                    </dt>
                }
                <dd>
                    @entry.ApplicationUser.UserName - @entry.Score
                </dd>
                prevScore = entry.Score;
            }
        }
        </dl>
    *@
